.paragraph-overlay {
  background-color: #634aff0d;
  border-radius: 16px;
  height: 20%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  margin-bottom: 20px;
}

.floating-form .paragraph-overlay {
  height: 90%;
}
.paragraph-overlay .heading-sign-in {
  color: #53070c;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  white-space: nowrap;
  width: 84px;
  margin: 2.5%;
  margin-bottom: 0;
}

.paragraph-overlay .text-wrapper {
  color: #6b7280;
  font-family: 'Inter-Regular', Helvetica;
  font-size: 12.1px;
  font-weight: 400;
  height: 50%;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
}
